<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petoi.kotlin.android.app">
    <!-- Allows the app to connect to Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Allows the app to scan for and bond with Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--
 As of Android M (6.0) and above, location permission is required for the
    app to get BLE scan results.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Declare that app uses BLE features on Android devices. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".ApplicationData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetoiControllerKotlin">
        <activity android:name=".CalibrationActivity" />
        <activity android:name=".LegalInfoActivity"/>
        <activity android:name=".EditorActivity" />
        <activity android:name=".ConnectionActivity" />

        <!-- MainActivity -->
        <activity  
            android:name=".MainActivity" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>